# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# Poetry
.poetry/
.pypoetry.toml

# Django
/media/
/static/

# Database
db.sqlite3

# Operating System (macOS, Windows, Linux)
.DS_Store
Thumbs.db

# Virtual Environments (general)
/env
/venv

# IDEs
.idea/
*.iml
.vscode/

# Build artifacts
dist/
build/

